.mainContainer
	{
	border: 3px solid #ff99ff;
	margin: 0 auto;
	width:700px;
	}
	
.header
	{
	background-color:black;
	height:95px;
	font-size:72px;
	color:#ff99ff;
	text-align:center;
	font-weight:bold;
	padding-top:5px;
	}
.menu
	{
	padding-left:9%;
	height:50px;
	}

.menuElem
	{
	background-color:#ff99ff;
	float:left;
	font-size:xx-large;
	text-align:center;
	height:45px;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	margin-left:1px;
	margin-right:1px;
	border-left:6px solid #66ff66;
	}
	
.menuElem:hover, .menuElem:active
	{
	background-color:#66ff66;
	}

.menuElem a:link
	{
	text-decoration:none;
	color:white;
	}

.menuElem a:visited
	{
	text-decoration:none;
	color:white;
	}

.menuElem a:hover
	{
	text-decoration:none;
	color:white;
	}
	
.content
	{
	clear:left;
	padding-left:9%;
	padding-right:9%;
	padding-top:20px;
	padding-bottom:100px;
	text-align:justify;
	}
	
.contentTitle
	{
	padding-top:50px;
	font-weight:bold;
	font-size:30px;
	color:#66ff66;
	padding-left:6%;
	}
	
.footer
	{
	background-color:black;
	text-align:right;
	color: #ff99ff;
	height:80px;
	font-size:20px;
	padding-top:50px;		
	}
.footer a
	{
	padding-left:40px;
	text-align:center;
	}
.footerCopy
	{
	width:35%;
	padding-right:20px;
	float:right;
	color:white;
	}










