

/*questo è un commento in css /*

/* con la sintassi seguente vado a modificare i valori di default dei vari tag (body, p, h1, etc)*/
body	
	{
		/*background-color:blue;*/
		background-image:url("Img3/bunet.jpg");
		background-repeat:no-repeat;
		background-position:50% 50%;
		background-size:50%;
		height:100%;
		color:purple; /*ovvero TUTTO ciò che è contenuto nel body (parlando di testo tipo h1, p, etc) fallo viola*/
	}


h1	
	{
		background-color:white;
		background-clip:content-box;
		color:red;
		border-style:solid dotted groove dotted;
		border-color:pink purple purple pink;
		border-width:6px 6px 7px 5px;
		border-bottom-left-radius:6px;
		border-top-right-radius:10px;	
	}

p	
	{
		background-color:green;
		letter-spacing:1px;
		word-spacing:10px;	
	}

/*Adesso invece creo una classe, che andrò ad utilizzare per modificare i parametri*/
/*specifici del tag richiamato (es <div class="classediprova">*/
/*I PARAMETRI NON SONO EREDITATI dalle classi seguenti*/

.classediprova 
	{
	
	}

.altraprova
	{
		color:green;
		background-color:red;
	}

.cacca
	{
		background-color:grey;
		border: 2px solid yellow;
		padding-left:100px;
		padding-top:100px;
		padding-bottom: 200px;
		padding-right: 300px;
		margin-left:100px;
	}
	
.scatola
	{
		background-color:red;
		width:200px;
		height:400px;
		border: 5px dotted green;
		margin: 10px;
		padding: 10px;
	}
	
.altrascatola
	{
		width:5000px;
		border:5px solid red;
		max-width:100%;
	
	}
.footer
	{
		width:100%;
		height:1000px;
	}	
.scatolina
	{
		width:300px;
		height:300px;
	}	

/*PSEUDO CLASSE a */
/*IMPORTANTE CHE CI SIANO TUTTI E 3 GLI ELEMENTI ED IN QUESTO ORDINE!!!!!*/
/*IN QUESTO CASO È APPLICATO SOLO ALLA CLASSE TEST, TOGLIENDOLA VIENE APPLICATO A TUTTI GLI A NELLA PAGINA*/
.test a:link 
	{
		color:red;
	}
	
.test a:visited
	{
		color:red;
	}
	
.test a:hover
	{
		color:blue;background-color:green; font-size:x-large;text-decoration:none;
	}
	
	
/*Per personalizzare ad esempio "a" o "h5" nel div footer, posso usare questa sintassi:*/
.scatolina a:link, a:visited 
	{
		color:black;
	}
	
.scatolina h5 
	{
		color:grey;
	}

.doubleBg
	{
		border:5px solid black;
		background-image:url(img/arancia.jpeg), url(img/pesca.jpeg);
		background-repeat:no-repeat, repeat;
		background-position:center;
		height:500px;
	}
	
.sfumato
	{
		border:5px solid black;
		height:500px;
		background-color:black;
		background: linear-gradient(to left, red, red, white, white, green, green);
		clear: left;
	}
	
.gallery
	{
		width:300px;
		border: 2px solid green;
		margin: 4px;
		float:left;
	}
	
/*con questa sintassi, all'interno del tag img della classe gallery (e solo li!!) applicherò un css specifico*/
.gallery img
	{
		width:100%;
		height:auto;
	}
.didascalia
	{
		text-align:center;
		padding:10px;	
	}
	
.gallery img:hover
	{
		opacity:0.5;
	}
	
.gallery:hover
	{
		border: 2px solid black;
	}
